.k-block-type-notification-box h3 {
  margin: 0;
}

.k-block-type-notification-box .box-container {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.k-block-type-notification-box .box-title {
  padding: 10px;
  color: var(--title-color);
  background-color: var(--border-color);
}

.k-block-type-notification-box .box-content {
  color: var(--text-color);
  padding: 10px;
}

.error {
  --border-color: hsla(0, 87.8%, 67.8%, 1);
  --background-color: hsla(0, 100%, 98%, 1);
  --text-color: hsla(0, 60.8%, 48%, 1);
  --title-color: white;
}

.success {
  --border-color: hsla(152, 69%, 19%, 1);
  --background-color: hsla(153, 20%, 95%, 1);
  --text-color: hsla(152, 69%, 19%, 1);
  --title-color: white;
}

.warning {
  --border-color: hsla(44.6, 100%, 85.5%, 1);
  --background-color: hsla(45.6, 100%, 90.2%, 1);
  --text-color: hsla(44.8, 94.3%, 20.6%, 1);
  --title-color: hsla(44.8, 94.3%, 20.6%, 1);
}
